In [1]:
import pandas as pd
import numpy as np
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

In [2]:
#print the dimension of dataset
df.shape

(28, 13)

In [3]:
#check no null value in each column
print(df.isnull().sum())

gender          6
NationalITy     1
PlaceofBirth    5
StageID         2
GradeID         1
SectionID       0
Topic           4
Semester        0
Relation        2
cns             7
dsa             1
oops            0
os              0
dtype: int64

In [4]:
#drop the whole row which having NULL value
df.dropna(inplace=True)
print(df.isnull().sum())
df.shape
#these changes not reflect with your dataset , only change in curr data frame 
#as you again read dataset, NULL are there as before

gender          0
NationalITy     0
PlaceofBirth    0
StageID         0
GradeID         0
SectionID       0
Topic           0
Semester        0
Relation        0
cns             0
dsa             0
oops            0
os              0
dtype: int64

(9, 13)

In [5]:
import pandas as pd
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

In [6]:
#imputation by mean
df["cns"]=df["cns"].replace(np.NAN,df["cns"].mean())

print(df["cns"])

0     25.571429
1     20.000000
2     10.000000
3     25.571429
4     40.000000
5     42.000000
6     35.000000
7     25.571429
8     12.000000
9     25.571429
10    50.000000
11    19.000000
12     5.000000
13    20.000000
14    25.571429
15    30.000000
16    36.000000
17    25.571429
18    69.000000
19    70.000000
20    25.571429
21    10.000000
22    15.000000
23     2.000000
24     0.000000
25     8.000000
26    19.000000
27    25.000000
Name: cns, dtype: float64

In [7]:
import pandas as pd
import numpy as np
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

In [8]:
#imputation by median

df["cns"]=df["cns"].replace(np.NAN,df["cns"].median())
print(df["cns"])

0     20.0
1     20.0
2     10.0
3     20.0
4     40.0
5     42.0
6     35.0
7     20.0
8     12.0
9     20.0
10    50.0
11    19.0
12     5.0
13    20.0
14    20.0
15    30.0
16    36.0
17    20.0
18    69.0
19    70.0
20    20.0
21    10.0
22    15.0
23     2.0
24     0.0
25     8.0
26    19.0
27    25.0
Name: cns, dtype: float64

In [9]:

#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

In [10]:
#imputation by median

import statistics
df["cns"]=df["cns"].replace(np.NAN,statistics.mode(df["cns"]))
print(df["cns"])

0     20.0
1     20.0
2     10.0
3     20.0
4     40.0
5     42.0
6     35.0
7     20.0
8     12.0
9     20.0
10    50.0
11    19.0
12     5.0
13    20.0
14    20.0
15    30.0
16    36.0
17    20.0
18    69.0
19    70.0
20    20.0
21    10.0
22    15.0
23     2.0
24     0.0
25     8.0
26    19.0
27    25.0
Name: cns, dtype: float64

In [11]:
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

In [12]:
#imputation by interpolation -linear
df["cns"]=df["cns"].interpolate(method='linear',limit_direction='forward',axis=0)
print(df["cns"])

0      NaN
1     20.0
2     10.0
3     25.0
4     40.0
5     42.0
6     35.0
7     23.5
8     12.0
9     31.0
10    50.0
11    19.0
12     5.0
13    20.0
14    25.0
15    30.0
16    36.0
17    52.5
18    69.0
19    70.0
20    40.0
21    10.0
22    15.0
23     2.0
24     0.0
25     8.0
26    19.0
27    25.0
Name: cns, dtype: float64

In [13]:
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

print(df.isnull().sum())
df.shape

gender          6
NationalITy     1
PlaceofBirth    5
StageID         2
GradeID         1
SectionID       0
Topic           4
Semester        0
Relation        2
cns             7
dsa             1
oops            0
os              0
dtype: int64

(28, 13)

In [14]:
#replace categorical variable with random value
df["gender"]=df["gender"].fillna('unknow')
print(df["gender"])

0     unknow
1          M
2          M
3          M
4     unknow
5          F
6          M
7          M
8          F
9          F
10         M
11         M
12         M
13         M
14         F
15         F
16    unknow
17         M
18         F
19    unknow
20         F
21         F
22         M
23    unknow
24         M
25         M
26    unknow
27         M
Name: gender, dtype: object

In [15]:
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

#replace categorical variable with previous value
df["gender"]=df["gender"].fillna(method='ffill')
print(df["gender"])

0     NaN
1       M
2       M
3       M
4       M
5       F
6       M
7       M
8       F
9       F
10      M
11      M
12      M
13      M
14      F
15      F
16      F
17      M
18      F
19      F
20      F
21      F
22      M
23      M
24      M
25      M
26      M
27      M
Name: gender, dtype: object

In [16]:
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)

#create the inconsistent data(as any no is not the value for gender)
df["gender"]=df["gender"].fillna(100)
print(df["gender"])

0     100
1       M
2       M
3       M
4     100
5       F
6       M
7       M
8       F
9       F
10      M
11      M
12      M
13      M
14      F
15      F
16    100
17      M
18      F
19    100
20      F
21      F
22      M
23    100
24      M
25      M
26    100
27      M
Name: gender, dtype: object

In [17]:
#so we replace the inconsistent data with NULL value
cnt=0;
for row in df["gender"]:
    try:
        int(row)
        df.loc[cnt,"gender"]=np.nan
    except ValueError:
        pass
    cnt+=1

In [18]:
#so the value with 100 replace by NULL
print(df["gender"])

0     NaN
1       M
2       M
3       M
4     NaN
5       F
6       M
7       M
8       F
9       F
10      M
11      M
12      M
13      M
14      F
15      F
16    NaN
17      M
18      F
19    NaN
20      F
21      F
22      M
23    NaN
24      M
25      M
26    NaN
27      M
Name: gender, dtype: object