In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
#Dataset CSV
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)
print(df)

        name gender section  salary  year_Joining  age
0       Lois      F      H2      11          2003   60
1     Brenda      F      H2       7          2008   60
2        Joe      M      H2       8          2016   68
3      Diane      F      H1       4          1999   51
4   Benjamin      M      H2       7          2013   58
..       ...    ...     ...     ...           ...  ...
95      Jose      M      H2       7          2016   89
96    Harold      M      H2       8          2011   77
97    Nicole      F      H1       1          1989   60
98   Theresa      F      H2       8          2010   57
99     Tammy      F      H1       4          2015   55

[100 rows x 6 columns]

In [2]:
#print the dimension of dataset
df.shape

(100, 6)

In [3]:
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)
#maximum for all value in a dataset
df.max()

name            William
gender                M
section              H2
salary               12
year_Joining       2017
age                  90
dtype: object

In [4]:

#maximum for particular value in a dataset
print(df['age'].max())

90

In [5]:
#min for all value in a dataset
df.min()

name            Aaron
gender              F
section            H1
salary              1
year_Joining     1983
age                40
dtype: object

In [6]:

#min for particular value in a dataset
print(df['age'].min())

40

In [7]:

#mean for all value in a dataset
print(df.mean())

salary             6.25
year_Joining    2008.12
age               58.08
dtype: float64

In [8]:

#mean for all particular value in a dataset
print(df['age'].mean())

58.08

In [9]:

#median for all value in a dataset
df.median()

salary             7.0
year_Joining    2010.5
age               56.0
dtype: float64

In [10]:

#median for particular value in a dataset
print(df['age'].median())

56.0

In [11]:

#mode for all value in a dataset
#This is the only central tendency measure that can be used with categorical variables, 
#unlike the mean and the median which can be used only with quantitative data.
df.mode()

    name gender section  salary  year_Joining   age
0  Nancy      F      H2       7          2016  60.0
1    NaN    NaN     NaN       8          2017   NaN

In [12]:

#median for all value in a dataset
print(df['name'].mode())

0    Nancy
Name: name, dtype: object

In [13]:

#Standard deviation for all value in a dataset
df.std()

salary           3.453515
year_Joining     8.642484
age             12.294106
dtype: float64

In [14]:

#Standard deviation for particular value in a dataset
print(df["age"].std())

12.294106332102814

In [15]:

#Variance for all value in a dataset
df.var()

salary           11.926768
year_Joining     74.692525
age             151.145051
dtype: float64

In [16]:

#Variance for particular value in a dataset
print(df["age"].var())

151.1450505050505

In [17]:
#function that prints the summary statistic of the numerical variables
df.describe()

           salary  year_Joining         age
count  100.000000    100.000000  100.000000
mean     6.250000   2008.120000   58.080000
std      3.453515      8.642484   12.294106
min      1.000000   1983.000000   40.000000
25%      3.000000   2003.000000   50.000000
50%      7.000000   2010.500000   56.000000
75%      8.250000   2015.000000   61.250000
max     12.000000   2017.000000   90.000000

In [18]:
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)
#Grouping and perform count over each group
df =  df.groupby('gender')['gender'].count()
print(df)

gender
F    60
M    40
Name: gender, dtype: int64

In [19]:
url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)
#Grouping and perform sum over each group
df =  df.groupby('salary')['salary'].count()
print(df)

salary
1     11
2      8
3      7
4     10
5      6
6      7
7     13
8     13
9      6
10     2
11     8
12     9
Name: salary, dtype: int64

url = "xAPI-Edu-Data.csv"
df = pd.read_csv(url)
#Group by two keys and then summarize each group
#groupby(['DEPT','GENDER'],as_index=False).SALARY.mean()
df =  df.groupby(['gender','year_Joining'],as_index=False).salary.count()
print(df)